[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/dependencies/solady"]
	path = contracts/dependencies/solady
	url = https://github.com/Vectorized/solady
